<template name="register">
	<div class="ui fluid container" style="position: absolute;top: 0;">
		{{> map}}
	</div>
	<div class="ui fluid container" style="position: absolute;top: 0;z-index: 999; height: 100px; background-color: #f00;">
		{{> people}}
	</div>
	<div class="ui fluid container" style="background-color: #ffd101;">
		<div class="ui container">
			<div class="ui text container elementToFadeInAndOut">
				<div class="ui basic segment">
					<div class="ui very padded basic segment">

						<h1>{{_ "Why not tell us more about you?"}}</h1>

						<h1>{{_ "I am"}}</h1>

						<h1>{{_ "Volunteer"}}</h1>
						<h1>{{_ "Team leader"}}</h1>
					</div>
				</div>
			</div>

			<div class="ui text container elementToFadeInAndOut">
				{{> publisher}}
			</div>

			<div class="ui text container elementToFadeInAndOut">
				{{> logout}}
			</div>
		</div>
	</div>
</template>