<template name="live">
	<div class="ui fluid container" style="position: absolute;top: 0;height: 500px;" id="map-supercontainer">
		{{> map}}
	</div>
	{{> leader}}
	{{> people}}
	<div class="ui fluid container" style="background-color: #ffd101;">
		<div class="ui container">
			<div class="ui text container elementToFadeInAndOut">
				{{> team}}
			</div>
			<div class="ui text container elementToFadeInAndOut">
				{{> publisher}}
			</div>
			<div class="ui text container elementToFadeInAndOut">
				{{> logout}}
			</div>
			<div class="ui text container elementToFadeInAndOut" style="height: 100px;">
				&nbsp;
			</div>
		</div>
	</div>
</template>