<template name="intro">
	{{#if Template.subscriptionsReady}}
		{{#with intro}}
		<div class="ui center aligned grid container">
			<div class="sixteen wide column elementToFadeInAndOut">
				<div class="ui very padded basic segment">
					<h1 class="title">{{_ "Bucharest, Romania"}}</h1>
					<div class="ui statistic">
					  <div class="value">15.09.2018</div>
					  <div class="label">{{paragraph1}}</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column elementToFadeInAndOut">
				<div class="ui very padded basic segment">
					<h1>{{{renderMarkdown paragraph2}}}</h1>
					<br />
					<h1>
						<a href="/register" style="color: #e03997;text-decoration: underline;">{{_ "Register"}}</a>
					</h1>
				</div>
			</div>
		</div>
		{{/with}}
	{{else}}
		{{> loading}}
	{{/if}}
</template>