<template name="header">
	<div class="ui massive fixed secondary menu elementToFadeInAndOut" id="firstmenu" style="pointer-events: none;">
		<a href="/" class="item {{isActiveRoute 'home'}}" alt="{{_ 'World Cleanup Day'}}" style="pointer-events: all;">
			<img src="https://res.cloudinary.com/wcd/image/upload/c_scale,q_auto,w_400/v1499612513/world-cleanup-day-logo.png" class="ui tiny image"  style="display: inline-block;" />
		</a>
		<div class="right item" style="pointer-events: all;">
			{{> i18n_dropdown_semantic}}  
		</div>
	</div>
	<div class="ui fixed secondary menu" id="mobilemenu">
		<div class="item">
			{{> i18n_dropdown_semantic}}  
		</div>
	</div>
	<div class="ui text container" id="cta" style="padding-top: 3rem;">
		<h1 style="color: #0f81e9;">{{_ "Become part of world's largest civic action!"}}</h1>
	</div>
</template>